<div class="info-container">
  <div class="info-header">
    <h2><i class="fas fa-taxi"></i> Taxi Booking Details <i class="fas fa-map-marker-alt"></i></h2>
  </div>
  <div class="info-content">
    <div class="info-item">
      <label><i class="fas fa-location-arrow"></i> From:</label>
      <span class="small-text">{{ fromText }}</span>
    </div>
    <div class="info-item">
      <label><i class="fas fa-map-pin"></i> To:</label>
      <span class="small-text">{{ toText }}</span>
    </div>
    <!-- <div class="info-item">
      <label><i class="fas fa-road"></i> Distance:</label>
      <span class="highlighted-text">{{ distance | number: '1.0-2' }} km</span>
    </div> -->
  </div>
</div>



<div class="carousel-container">
  <h3>Available Taxis</h3>
  <app-carousel></app-carousel>
</div>