.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
  /* Center-align all text */
}

.info-header {
  margin-bottom: 20px;
}

.info-header h2 {
  margin: 0;
  font-size: 24px;
}

.info-content {
  width: 100%;
}

.info-item {
  display: flex;
  justify-content: center;
  /* Center-align each row */
  align-items: baseline;
  /* margin-bottom: 10px; */
}

.info-item label {
  font-weight: bold;
  margin-right: 10px;
  white-space: nowrap;
}

.info-item span {
  /* font-size: 14px; */
  color: #555;
}

.small-text {
  /* font-size: 14px; */
  color: #555;
}

.highlighted-text {
  font-size: 20px;
  color: #333;
  font-weight: bold;
}

.carousel-container {
  text-align: center;
}

.carousel-container h3 {
  font-size: 30px;
  color: #3e4958;
  margin-bottom: 20px;
}

.carousel-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  width: 100%;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 20px 0 rgba(62, 73, 88, 0.08);
}

.card-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-body {
  padding: 20px;
  text-align: center;
}

.card-title {
  font-size: 24px;
  color: #3e4958;
}

.card-text {
  font-size: 16px;
  color: #767e88;
  margin-bottom: 20px;
}

.taxi-price {
  font-size: 24px;
  color: #fdc501;
  font-weight: bold;
}