<div class="row justify-content-center">
    <div *ngFor="let product of products"
        class="card col-md-3 col-sm-5 col-10 border-1 surface-border border-round m-2 p-3 card-shadow"
        (click)="onCardClick(product)" [class.clickable]="isBookingDetailsRoute">
        <div class="card-image mb-3">
            <div class="image-wrapper d-flex justify-content-center align-items-center">
                <img alt="Van" decoding="async" loading="lazy" [src]="product.ImageUrl" />
            </div>
        </div>
        <div class="card-body" [attr.id]="product.id">
            <h5 class="card-title">{{ product.VehicleName }}</h5>
            <div class="card-text"><span>Passengers:</span><span class="texi-detail-inner">{{
                    product.Passengers}}</span></div>
            <div class="card-text"><span>Luggage:</span><span class="texi-detail-inner">{{ product.Luggage}}</span>
            </div>
            <div class="card-text"><span>AirCondition:</span><span class="texi-detail-inner">{{
                    product.AirCondition?"Yes":"No" }}</span></div>
            <div class="card-text"><span>Price:</span><span class="taxi-price">{{ '$' + product.Price }} /km</span>
            </div>
            <button class="btn btn-secondary my-2 rounded-3" *ngIf="isBookingDetailsRoute" (click)="onCardClick(product)">Book Now</button>
        </div>
    </div>
</div>

<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary d-none" data-toggle="modal" id="ButtonIdddd" data-target="#bookingModal">
    Launch demo modal
</button> -->

<!-- Modal -->