.page-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f8f9fa;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  box-sizing: border-box;
}

.booking-details {
  padding-bottom: 20px;
}

.booking-details h4 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #3e4958;
}

.info-item {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.info-item .icon-location,
.info-item .icon-car,
.info-item .icon-calendar {
  margin-right: 10px;
  font-size: 18px;
  color: #3e4958;
}

.info-item label {
  font-weight: bold;
  color: #3e4958;
  margin-right: 10px;
  margin-bottom: auto;
  margin-top: auto;
}

.small-text {
  color: #555;
}

.highlight .price-text {
  background-color: #e0e7ff;
  padding: 5px 10px;
  border-radius: 4px;
  color: #3e4958;
  font-size: 18px;
  font-weight: bold;
}

.form-container {
  padding: 30px 20px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(62, 73, 88, 0.1);
  background-color: #ffffff;
  text-align: center;
}

.form-container h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #3e4958;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #3e4958;
}

.form-group input[type="text"],
.form-group input[type="tel"],
.form-group input[type="email"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
  color: #555;
}

.form-group input:focus {
  border-color: #fdc501;
  outline: none;
}

.form-group input[type="checkbox"] {
  margin-right: 10px;
}

.form-group button {
  width: 100%;
  padding: 10px;
  background-color: var(--primary-color) !important;;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.form-group button:hover {
  background-color: #6200ea;
  transform: translateY(-2px);
}

.icon-location::before {
  content: "\1F4CD"; /* Location pin emoji */
}

.icon-car::before {
  content: "\1F697"; /* Car emoji */
}

.icon-calendar::before {
  content: "\1F4C5"; /* Calendar emoji */
}

/* Responsive styles */
@media (min-width: 768px) {
  .content-wrapper {
    flex-direction: row;
  }

  .booking-details {
    flex: 1;
    padding-right: 20px;
  }

  .form-container {
    flex: 1;
  }
}
