.dashboard-container {
  background: url(https://ld-wp73.template-help.com/wordpress/prod_26760/v2/wp-content/uploads/2019/11/Rectangle-4.png) no-repeat center center;
  background-size: cover;
  height: 700px;
  width: 100% !important;
  box-shadow: 0 4px 40px 0 rgba(62, 73, 88, 0.08);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 165px;

  h1 {
    color: #ffffff;
    font-size: 48px;
    text-align: center;
    font-weight: normal;
    font-style: normal;
    line-height: 1.2em;
  }

  h2 {
    color: var(--primary-color);
    font-size: 72px;
    text-align: center;
    font-weight: bold;
    font-style: normal;
    line-height: 1.2em;
  }

  h3 {
    color: #ffffff;
    text-align: center;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.2em;
  }
}

.form-container {
  width: 75%;
  margin-top: 100px;
  padding: 60px;
  background: #ffffff;
}

.form-input {
  width: 100%;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.45em;
  padding: 15px 30px 14px 50px;
  margin: 0 0 30px 0;
  background-color: #f8f9f9;
  color: #3e4958;
  border-style: solid;
  border-width: 1px;
  border-color: #dfe0e2;
}

.form-input-icon {
  position: absolute;
  top: 25px;
  left: 10px;
  font-size: 25px;
  color: var(--primary-color);
  z-index: 1;
  transform: translateY(-50%);
}

.dropdown-icon::before {
  content: '';
  position: absolute;
  top: 28px;
  right: 38px;
  height: 10px;
  width: 10px;
  border-bottom: 2px solid #767e88;
  border-right: 2px solid #767e88;
  pointer-events: none;
  z-index: 1;
  transform: rotate(45deg) translateY(-50%);
}

select {
  -webkit-appearance: none;
  appearance: none;
}

ul {
  padding-left: 0 !important;
}

.service-container {
  background: url("https://ld-wp73.template-help.com/wordpress/prod_26760/v2/wp-content/uploads/2019/11/Group-169.png") no-repeat center center;
  background-size: cover;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 310px 0px 190px 0px;
}

.section-header {
  color: #3e4958;
  font-size: 48px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.2em;
  text-align: center;
}

.section-header-small {
  text-align: center;
  color: #3e4958;
  font-size: 34px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.2em;
}

.service-card {
  background-color: #f9f9f9;
  border-color: rgba(0, 0, 0, 0);
  border-radius: 5px;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: 0 0 4px 0;
}

.service-card:hover {
  border-color: #fdc501;
  box-shadow: 0 4px 35px 0 rgba(62, 73, 88, 0.08);
}

.service-card-text {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #3e4958;
  font-size: 30px;
  font-weight: 500;
  font-style: normal;
  margin-top: 20px;
  line-height: 1.2em;
}

.app-download-header {
  color: #3e4958;
  font-size: 48px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.2em;
}

.app-download-text {
  color: #767e88;
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.4em;
  flex-basis: 420px;
  margin: 0 0 29px 0;
}

.app-download-points {
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6em;
  color: #767e88;
}

.app-download-button {
  background: #767e88;
  padding: 8px 30px;
}

.card {
  border: none;
  border-radius: 0;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
}

.carousel-inner {
  padding: 1em 3em;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: #e1e1e1;
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-control-prev span,
.carousel-control-next span {
  width: 1.5rem;
  height: 1.5rem;
}


.image-wrapper img {
  max-width: 100%;
  max-height: 100%;
}

.card-title {
  order: 3;
  text-align: center;
  align-self: center;
  color: #3e4958;
  font-size: 30px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.2em;
  margin: 0px 0px 22px 0px;
}

.card-text {
  order: 4;
  align-self: center;
  text-align: center;
  color: #767e88;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.35em;
  background-color: rgba(0, 0, 0, 0);
  padding: 0;
  margin: 0 0 24px 0;
  border-radius: 5px;
}

.taxi-price {
  order: 6;
  align-self: center;
  text-align: center;
  color: #fdc501;
  font-size: 48px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.2em;
  margin: 0 0 63px 0;
}

.quote-section {
  background-image: url(https://ld-wp73.template-help.com/wordpress/prod_26760/v2/wp-content/uploads/2019/11/Group.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.quote {
  text-align: center;
  color: #767e88;
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6em;
  flex-basis: 1050px;
  margin-bottom: 10px;
}

.quote-author-name {
  text-align: center;
  color: #767e88;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.5em;
}

.taxi-image-container {
  margin: 0 0 -229px 0;
}

.bs-card-spacing {
  padding: 50px 25px;
  color: #3e4958;
  box-shadow: 0 4px 40px 0 rgba(62, 73, 88, 0.08);
}

.card {
  display: flex;
  flex-direction: column;
}

.card-body {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.card-body .btn {
  margin-top: auto;
}

.feature-card {
  padding: 80px 20px 80px 20px;
  margin: 0 20px;
  box-shadow: 0 4px 40px 0 rgba(62, 73, 88, 0.08);
}

.feature-card-title {
  margin: 0 0 22px 0;
  align-self: center;
  text-align: center;
  order: 2;
  color: #3e4958;
  font-size: 30px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.2em;
}

.feature-card-text {
  color: #767e88;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.35em;
  margin: 0;
  align-self: center;
  text-align: center;
  order: 3;
}

@media screen and (max-width: 1024px) {
  .form-container {
    width: 80%;
    margin-top: 20px;
  }

  .service-container {
    padding: 250px 30px 50px 30px;
  }

  .section-header {
    font-size: 36px;
  }

  .taxi-image-container {
    margin: -6% 0 -16% 0;
  }
}

@media screen and (max-width: 576px) {
  .card:not(:first-child) {
    display: none;
  }

  .dashboard-container {
    height: 750px;
  }

  .header {
    padding: 20px;

    h1 {
      font-size: 28px;
    }

    h2 {
      font-size: 40px;
    }

    h3 {
      font-size: 24px;
    }
  }

  .section-header {
    font-size: 30px;
  }

  .service-container {
    padding: 50px 30px 50px 30px;
  }

  .form-container {
    width: 95%;
    margin-top: 20px;
    padding: 20px 0;
  }

  .m-none {
    margin:0;
  }

  .app-download-header {
    font-size: 35px;
  }

  .quote {
    font-size: 20px;
  }

  .quote-author-name {
    font-size: 14px;
  }
}

@media screen and (min-width: 576px) {
  .cards-wrapper {
    display: flex;
  }

  .card {
    margin: 0 0.5em;
    width: calc(100% / 2);
  }

  .image-wrapper {
    height: 10vw;
    margin: 0 auto;
  }
}

.position-relative {
  position: relative;
}

.suggestions-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 1000;
}

.suggestions-list li {
  padding: 10px;
  cursor: pointer;
}

.suggestions-list li:hover {
  background-color: #f0f0f0;
}

